body{
    background-color:rgb(61, 61, 181);
    color: rgb(60, 25, 2);
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    color:#333;

}
.flex {
    justify-items:center;
    display:flex;
    flex-direction:column;
    background-color:rgb(133, 125, 175);
    margin:20px;
    padding:20px;
    width:50%;
    height:30%;
}

h2 {
    text-align:center;
    font-size:10px;
}
.top, .log-in, .bottom{
    text-align:center;
    background-color:#ffffff;
    border-radius:12px;
    box-shadow:0 4px 0 rgba(0,0,0,0.2);
}

.top{
    justify-content:center;
    align-items: center;
    margin-top:40px;
    padding:20px;
    width:420px;
}
h2 {
    font-size:20px;
}

img {
    height:40px;
    width:auto;
}

.log-in {
    display:flex;
    flex-direction: column;
    margin:10px;
    background-color: darkblue;
    width:400px;
    align-items:center;
    justify-content: center;
    padding:10px;
}
/* .label {
    
} */

.arrow .dice{
    height:30px;
    transition:filter 0.2s ease;
    cursor:pointer;
}
.arrow:hover .dice:hover{
    filter:brightness(0.7);
}

.dice {
    position:fixed;
    justify-content: flex-end;
}

.modal {
    display:none;
    position:fixed;
}
.bottom {
    flex-direction:column;
    flex:1 0 auto;
    flex-wrap:wrap;
    flex-basis:33%;
}

.desc {
    flex-direction:row;
    width:28%;
    font-size:10px;
}

.desc h2 {
    font-weight:bold;
    font-size:30px;
}

h1 {
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background:linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background-clip:text;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

.playableModal {
    height:80%;
    display:flex;
}

.drawTools {
    display:flex;
    flex-direction:column;
    padding:5px;
    width:70px;
    background-color:#202020;
}

.drawTools * {
    margin-bottom:6px;
}

.drawTools label {
    font-size:12px;
}

.drawTools input {
    width:80%;
}

.drawTools button {
    background-color:#1565c0;
    border:none;
    border-radius:4px;
    color:white;
    padding:2px;
}